<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bla</title>
</head>
<body>
    <wicket:panel>
        <p>
            Your loan for has been granted!
        </p>
        <table>
            <tr>
                <th>
                    totalPayment
                </th>
                <td wicket:id="totalPayment">
                </td>
            </tr>
            <tr>
                <th>
                    rate
                </th>
                <td wicket:id="rate">
                </td>
            </tr>
            <tr>
                <th>
                    monthlyPayment
                </th>
                <td wicket:id="monthlyPayment">
                </td>
            </tr>
            <tr>
                <th>
                    currency
                </th>
                <td wicket:id="monthlyPayment">
                </td>
            </tr>
        </table>
    </wicket:panel>
</body>
</html>